<div class="container">
  <div class="card1">
    <h5 class="card-header">Quotes</h5>
    <div class="card-body">
      <ul>
        <li *ngFor='let quote of quotes;let i=index'>{{quote.name}}: {{quote.quote}}
          <div style="float: right;">
            <span>{{quote.upvote}}<i class="fas fa-thumbs-up" (click)="like(i)"> </i></span>
            <span>{{quote.downvote}}<i class="fas fa-thumbs-down" (click)="unlike(i)"></i></span>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="container-fluid">
    <form>
      <div class="form-group">
        <label for id="name">Name</label>
        <input [(ngModel)]="name" type="text" name="exampleFormControlText" class="form-control">
        <label for="exampleFormControlText">Author</label>
        <input [(ngModel)]="Author" type="text" name="exampleFormControlText" class="form-control">
        <label for="exampleFormControlTextarea1">Quote</label>
        <textarea [(ngModel)]="quote1" class="form-control" name="exampleFormControlTextarea1" rows="3"></textarea>
        <button class="btn btn-primary" type="submit" (click)="postQuote()">Submit</button>
      </div>
    </form>
  </div>
